<!-- terminal - adding services
ng generate service [nameofservice]
ng g s [nameofservice, eg data]

Follow in data.service.ts
-->
<p>
  A fun 60 minute angular project made by Michael.Le@fdmgroup.com.
  </p>
  <p> The idea was to create a few components to understand routing, animations, and styling. In addition, it taught me how to create methods, and manage variables. Most importantly, learn Angular in a short time span.
  </p>
  <p>
  <a href="" (click)="sendMeHome()"><strong>Take me away</strong></a>
 </p>
<ul>
	<li *ngFor="let goal of goals">
	{{ goal }}
	</li>
</ul>