<!--The content below is only a placeholder and can be replaced.-->
<!-- DEPLOYMENT
to deploy, go to cmd prmpt
and run
ng build --prod
creates a dist folder with deployment files
ng build --prod --base-href="myurl" 
	- to find proper run files
-->
<!-- Uploading to github pages
npm install -g angular-cli-ghpages
git add the project to a repo
then 
	ng build --prod --base-href="https://mjle.github.io/AngularLearningProject/"

	sudo angular-cli-ghpages

-->
<ul>
   <li><a routerLink="">Home</a></li>
   <li><a routerLink="about/48">About</a></li>
</ul>
<router-outlet></router-outlet>